@charset "utf-8";
/* CSS Document */
.margin{width:980px;margin:0 auto;}
header{height:111px;}
header .logo{float:left;margin-top:20px;}
header .header-r{float:right;margin-top:20px;}
header .header-r h3{font:600 22px/48px "";color:#00b403;}
header .header-r h4{font:600 italic 22px/42px "";color:#ff0000;}

nav{height:40px;background:#00b403;}
nav ul{display:flex;}
nav ul li a{font:600 16px/40px "";color:#fff;padding:0 25px;}

#banner{height:240px;background:url(../images/banner.png) no-repeat center;}

#qqjt{width:100px;height:194px;border:1px solid #bbccd9;position:fixed;right:12px;top:175px;}
#qqjt a{display:block;width:72px;height:21px;border:1px solid #bbccd9;font:12px/21px "";color:#1a649d;margin:10px 0 0 18px;background:#dde8f9;border-radius:5px;}
#qqjt a img{margin:2px 4px 0 4px;animation:tan .5s linear infinite;}
@keyframes tan{
	0%{transform:scale(0,0);}
	50%{transform:scale(1.1,1.1);}
	}
#main3{overflow: hidden;margin-bottom: 20px;}
#main3 aside{float: left;width:212px;}
#main3 aside ul{padding: 10px;}
#main3 aside ul li{font:12px/30px "";text-indent: 10px;border-bottom: 1px dashed #E5E5E5;}
#main3 aside h3{font: 12px/34px "";color: #fff;background:url(../images/hbg.png);padding: 0 26px 0 10px;}
#main3 aside p{font: 12px/20px;padding-bottom: 18px;background-color: #F5F5F5;color: #000;}
#main3 aside p span{font: 12px/24px "";padding: 0 26px 0 10px;}
#main3 aside p span a{color: #71ba1b;}
#main3 aside div{padding: 12px;background-color: #F5F5F5;overflow: hidden;}
#main3 aside div b{float:left;display:block;width:150px;border: 1px solid #34ab1b;font: 12px/24px "";} 
#main3 aside div b span{float:right;color: #fff;background-color: #34ab1b}
#main3 article{width:742px;float: right;border: 1px solid #ddd;padding-bottom: 20px;}
#main3 article div{padding: 20px 0 120px 20px;}
#main3 article h3{font: 12px/30px "";border-bottom: 1px solid #ddd;background-color: #f6f6f6;text-indent: 10px;}
#main3 article div img{margin-left: 105px;}
#main3 article p{font: 12px/24px "";color: #000000;text-indent: 2em;}
#nav{height:30px;background:url(../images/hbg.png) repeat;text-align:center;}
#nav a{font:12px/30px "";color:#fff;}
#nav span{margin:0 5px;color:#fff;}

footer{height:148px;background:#f1f1f1;text-align:center;padding-top:20px;}
footer div{font:12px/24px "";color:#191919;}